@charset "UTF-8";

.categorytext {
	color:black;
	text-decoration: none;
	display:inline-block;
}

#logotext {
	color:black;
	text-decoration: none;
	display:inline-block;
}

#member {
	color:black;
	text-decoration: none;
	display:inline-block;
}
